<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id = "triange" class= "springCoreLearning.chapter07.Triangle">
	<property name ="pointA" ref="zeroPoint" />
	<property name ="pointB" ref="pointB"/>
	<property name ="pointC" ref="pointC"/>
</bean>

<bean name = "zeroPoint" class= "springCoreLearning.chapter07.Point">
	<property name="x" value="0"/>
	<property name="y" value="1"/>
</bean>


<bean name = "pointC" class= "springCoreLearning.chapter07.Point">
	<property name="x" value="1"/>
	<property name="y" value="2"/>
</bean>


<bean name = "pointB" class= "springCoreLearning.chapter07.Point">
	<property name="x" value="3"/>
	<property name="y" value="4"/>
</bean>
</beans>