<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean id = "triangle" class ="springCoreLearning.chapter01_06.Triangle">
	<property name = "type" value = "equilateral"/>
	<property name = "height" value = "20"/>
	<constructor-arg index ="1" value = "10"/>
	<constructor-arg index ="0" value="equilateral"/>
</bean>
</beans>